<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            Cuentas
        </h2>
        <div class="table">
            <div class="table-responsive"> 
                <div class="table table-hover">
                    <thead>
                        <th>Nombre Cuenta</th>
                        <th>Cantidad</th>
                    </thead>
                    <tbody>
                        <tr *ngIf ="items">
                            <td>{{items.Name}}</td>
                            <td>{{items.Amount | currency:items.Currency:'symbol'</td>
                        </tr>
                    </tbody>
                </div>
            </div>
        </div>
    </div>
</div>