<div class="card">
    <div class="card-body">
        <h2 class="card-title">
            Transacciones
        </h2>
        <div class="table">
            <div class="table-responsive">
                <div class="table table hover">
                    <thead>
                        <th>Cuenta</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                    </thead>
                    <tr>
                        
                    </tr>
                </div>
            </div>
        </div>
    </div>
</div>